recursive-include examples *
include LICENSE.txt
include README.md
exclude sportran/utils/obsolete
include README_GUI.md
include sportran_gui/assets/icon.gif
include sportran_gui/assets/languages.json
include sportran/plotter/styles/api_style.mplstyle
include sportran/plotter/styles/cli_style.mplstyle

# added by check-manifest
include *.md
include *.yaml
include tox.ini
recursive-include docs *.bat
recursive-include docs *.ipynb
recursive-include docs *.md
recursive-include docs *.py
recursive-include docs *.rst
recursive-include docs Makefile
recursive-include sportran *.md
recursive-include sportran *.sh
recursive-include sportran_gui *.ico
recursive-include sportran_gui *.ini
recursive-include sportran_gui *.md
recursive-include tests *.csv
recursive-include tests *.md
recursive-include tests *.py
recursive-include tests *.txt
recursive-include tests *.yml
recursive-include tests/data *
include sportran_gui/utils/tk_html_widgets/LICENSE
