recursive-include examples *
include LICENSE.txt
include README.md
exclude sportran/utils/obsolete/
include README_GUI.md
include sportran_gui/assets/icon.gif
include sportran_gui/assets/languages.json
include sportran/plotter/styles/api_style.mplstyle
include sportran/plotter/styles/cli_style.mplstyle
